########################
# StarGateEMU - Server #
########################
[authserver]

LogsDir = "Logs"
MaxPingTime = 100
RealmServerPort = 3724
BindIP = "0.0.0.0"
PidFile = ""
LogLevel = 0
LogFile = "auth.log"
SQLDriverLogFile = ""
LogTimestamp = 0
LogFileLevel = 0
LogColors = "13 11 9 5"
EnableLogDB = 0
DBLogLevel = 1
UseProcessors = 0
ProcessPriority = 1
RealmsStateUpdateDelay = 20
WrongPass.MaxCount = 0
WrongPass.BanTime = 600
WrongPass.BanType = 0


LoginDatabaseInfo = "127.0.0.1;3306;root;PASS;CataRealmd"
LoginDatabase.WorkerThreads = 1