######################
# StarGateEmu Server #
######################
[worldserver]

RealmID = 1
DataDir = "Data"
LogsDir = "Logs"
LoginDatabaseInfo     = "127.0.0.1;3306;user;PASS;CataRealmd"
WorldDatabaseInfo     = "127.0.0.1;3306;user;PASS;CataWorld"
CharacterDatabaseInfo = "127.0.0.1;3306;user;PASS;CataCharacters"
LoginDatabase.WorkerThreads = 1
WorldDatabase.WorkerThreads = 1
CharacterDatabase.WorkerThreads = 1
LoginDatabase.SynchThreads     = 1    
WorldDatabase.SynchThreads     = 1
CharacterDatabase.SynchThreads = 2
MaxPingTime = 2043
WorldServerPort = 8085
BindIP = "0.0.0.0"


Locale = 0
EAIErrorLevel = 2


UseProcessors = 2
ProcessPriority = 1
Compression = 1
PlayerLimit = 1000
SaveRespawnTimeImmediately = 1
MaxOverspeedPings = 2
GridUnload = 1
SocketTimeOutTime = 900000
SessionAddDelay = 10000
GridCleanUpDelay = 300000
MapUpdateInterval = 100
ChangeWeatherInterval = 600000
PlayerSaveInterval = 600000
PlayerSave.Stats.MinLevel = 0
PlayerSave.Stats.SaveOnlyOnLogout = 1
vmap.enableLOS = 1
vmap.enableHeight = 1
vmap.ignoreMapIds = "369"
vmap.ignoreSpellIds = "7720"
vmap.petLOS = 1
vmap.enableIndoorCheck = 1
DetectPosCollision = 1
TargetPosRecalculateRange = 1.5
UpdateUptimeInterval = 10
LogDB.Opt.ClearInterval = 10
LogDB.Opt.ClearTime = 1209600
MaxCoreStuckTime = 0
AddonChannel = 1
MapUpdate.Threads = 1
CleanCharacterDB = 0
PersistentCharacterCleanFlags = 0


LogSQL = 1
PidFile = ""
LogLevel = 1
LogFile = "Server.log"
ChatLogFile = "Chat.log"
LogTimestamp = 0
LogFileLevel = 0
LogFilter_AchievementUpdates = 1
LogFilter_CreatureMoves = 1
LogFilter_TransportMoves = 1
LogFilter_VisibilityChanges = 1
WorldLogFile = ""
DBErrorLogFile = "db_errors.log"
CharLogFile = "Characters.log"
CharLogTimestamp = 0
CharLogDump = 0
CharLogDump.Separate = 0
CharLogDump.SeparateDir = ""
GmLogFile = "GM_Commands.log"
GmLogTimestamp = 0
GmLogPerAccount = 1
RaLogFile = "RA_Commands.log"
ArenaLogFile = ""
ArenaLog.ExtendedInfo = 0
SQLDriverLogFile = ""
SQLDriverQueryLogging = 0
LogColors = "10 8 13 11"
EnableLogDB = 0
DBLogLevel = 2
LogDB.Char   = 1
LogDB.GM     = 1
LogDB.RA     = 1
LogDB.World  = 0
LogDB.Chat   = 0
ChatLogs.Channel      = 0
ChatLogs.SysChan      = 1
ChatLogs.Whisper      = 0
ChatLogs.Party        = 0
ChatLogs.Raid         = 0
ChatLogs.Guild        = 0
ChatLogs.Public       = 0
ChatLogs.Addon        = 0
ChatLogs.BattleGround = 0
ChatLogTimestamp = 0



GameType = 0
RealmZone = 9
Expansion = 3
DBC.Locale = 255
DeclinedNames = 0
StrictPlayerNames = 1
StrictCharterNames = 1
StrictPetNames = 2
MaxWhoListReturns = 49
MinPlayerName = 3
MinCharterName = 3
MinPetName = 3
CharacterCreating.Disabled = 0
CharacterCreating.Disabled.RaceMask = 0
CharacterCreating.Disabled.ClassMask = 0
CharactersPerAccount = 50
CharactersPerRealm = 10
HeroicCharactersPerRealm = 1
CharacterCreating.MinLevelForHeroicCharacter = 55
SkipCinematics = 0
MaxPlayerLevel = 85
MinDualSpecLevel = 30
StartPlayerLevel = 1
StartHeroicPlayerLevel = 55
StartPlayerMoney = 100000
MaxConquestPoints = 4000
StartConquestPoints = 0
MaxHonorPoints = 4000
StartHonorPoints = 0
MaxJusticePoints = 4000
StartJusticePoints = 0
RecruitAFriend.MaxLevel = 60
RecruitAFriend.MaxDifference = 3
InstantLogout = 1
DisableWaterBreath = 4
AllFlightPaths = 0
InstantFlightPaths = 1
OldSkillSystem = 0
ActivateWeather = 1
CastUnstuck = 1
Instance.IgnoreLevel = 0
Instance.IgnoreRaid = 0
Instance.ResetTimeHour = 2
Instance.UnloadDelay = 1800000
Quests.LowLevelHideDiff = 4
Quests.HighLevelHideDiff = 7
Quests.IgnoreRaid = 0
Guild.EventLogRecordsCount = 100
Guild.BankEventLogRecordsCount = 25
MaxPrimaryTradeSkill = 2
MinPetitionSigns = 9
MaxGroupXPDistance = 74
MaxRecruitAFriendBonusDistance = 100
MailDeliveryDelay = 3600
SkillChance.Prospecting = 0
SkillChance.Milling = 0
OffhandCheckAtSpellUnlearn = 1
ClientCacheVersion = 0
Event.Announce = 1
BeepAtStart = 0
Motd = "!!!Willkommen!!! auf [Cataclysm 4.0.6a]"
Server.LoginInfo = 0
Command.LookupMaxResults = 0
AllowTickets = 1
GuildAdvancement.Enabled = 1
GuildAdvancement.MaxLevel = 25


AllowTwoSide.Accounts = 1
AllowTwoSide.Interaction.Chat = 1
AllowTwoSide.Interaction.Channel = 1
AllowTwoSide.Interaction.Group = 1
AllowTwoSide.Interaction.Guild = 1
AllowTwoSide.Interaction.Auction = 1
AllowTwoSide.Interaction.Mail = 1
AllowTwoSide.WhoList = 1
AllowTwoSide.AddFriend = 1
AllowTwoSide.Trade = 1
TalentsInspecting = 1


ThreatRadius = 60
Rate.Creature.Aggro = 0.5
CreatureFamilyFleeAssistanceRadius = 0
CreatureFamilyAssistanceRadius = 0
CreatureFamilyAssistanceDelay = 1500
CreatureFamilyFleeDelay = 7000
WorldBossLevelDiff = 3
Corpse.Decay.NORMAL = 60
Corpse.Decay.RARE = 150
Corpse.Decay.ELITE = 150
Corpse.Decay.RAREELITE = 150
Corpse.Decay.WORLDBOSS = 3600
Rate.Corpse.Decay.Looted = 0.5
Rate.Creature.Normal.Damage = 1
Rate.Creature.Elite.Elite.Damage = 1
Rate.Creature.Elite.RAREELITE.Damage = 1
Rate.Creature.Elite.WORLDBOSS.Damage = 1
Rate.Creature.Elite.RARE.Damage = 1
Rate.Creature.Normal.SpellDamage = 1
Rate.Creature.Elite.Elite.SpellDamage = 1
Rate.Creature.Elite.RAREELITE.SpellDamage = 1
Rate.Creature.Elite.WORLDBOSS.SpellDamage = 1
Rate.Creature.Elite.RARE.SpellDamage = 1
Rate.Creature.Normal.HP = 1
Rate.Creature.Elite.Elite.HP = 1
Rate.Creature.Elite.RAREELITE.HP = 1
Rate.Creature.Elite.WORLDBOSS.HP = 1
Rate.Creature.Elite.RARE.HP = 1
ListenRange.Say = 40
ListenRange.TextEmote = 40
ListenRange.Yell = 300


ChatFakeMessagePreventing = 0
ChatStrictLinkChecking.Severity = 0
ChatStrictLinkChecking.Kick = 0
ChatFlood.MessageCount = 10
ChatFlood.MessageDelay = 1
ChatFlood.MuteTime = 10
Channel.RestrictedLfg = 1
Channel.SilentlyGMJoin = 0
ChatLevelReq.Channel = 1
ChatLevelReq.Whisper = 1
ChatLevelReq.Say = 1
AllowPlayerCommands = 1
PreserveCustomChannels = 1
PreserveCustomChannelDuration = 14


GM.EnableDevTag                  = 0
GM.DevTagGMLevel                 = 100
GM.LoginState                    = 2
GM.Visible                       = 2
GM.AcceptTickets                 = 2
GM.Chat                          = 1
GM.WhisperingTo                  = 1
GM.InGMList.Level                = 3
GM.InWhoList.Level               = 3
GM.LogTrade                      = 1
GM.StartLevel                    = 1
GM.AllowInvite                   = 0
GM.AllowFriend                   = 1
GM.LowerSecurity                 = 0
GM.AllowAchievementGain.Level    = 3
GM.TicketSystem.ChanceOfGMSurvey = 50


Visibility.GroupMode = 1
Visibility.Distance.Continents = 90
Visibility.Distance.Instances = 120
Visibility.Distance.BGArenas = 180
Visibility.Notify.Period.OnContinents = 1000
Visibility.Notify.Period.InInstances  = 1000
Visibility.Notify.Period.InBGArenas   = 1000


Rate.Health = 1
Rate.Mana = 1
Rate.Rage.Income = 1
Rate.Rage.Loss = 1
Rate.RunicPower.Income = 1
Rate.RunicPower.Loss = 1
Rate.Focus = 1
Rate.Energy = 1
Rate.Loyalty = 1
Rate.Skill.Discovery = 1
Rate.Drop.Item.Poor = 1
Rate.Drop.Item.Normal = 1
Rate.Drop.Item.Uncommon = 1
Rate.Drop.Item.Rare = 1
Rate.Drop.Item.Epic = 1
Rate.Drop.Item.Legendary = 1
Rate.Drop.Item.Artifact = 1
Rate.Drop.Item.Referenced = 1
Rate.Drop.Item.ReferencedAmount = 1
Rate.Drop.Money = 1
Rate.XP.Kill    = 4
Rate.XP.Quest   = 5
Rate.XP.Explore = 1
Rate.RepairCost = 1
Rate.Rest.InGame = 1
Rate.Rest.Offline.InTavernOrCity = 1
Rate.Rest.Offline.InWilderness = 1
Rate.Damage.Fall = 1
Rate.Auction.Time = 5
Rate.Auction.Deposit = 1
Rate.Auction.Cut = 1
Rate.Honor = 1
Rate.Mining.Amount = 1
Rate.Mining.Next   = 1
Rate.Talent = 1
Rate.Reputation.Gain = 1
Rate.Reputation.LowLevel.Kill    = 1
Rate.Reputation.LowLevel.Quest   = 1
Rate.Reputation.RecruitAFriendBonus = 0.1
Rate.MoveSpeed = 1
Rate.InstanceResetTime = 1
SkillGain.Crafting = 2
SkillGain.Defense = 2
SkillGain.Gathering = 2
SkillGain.Weapon = 2
SkillChance.Orange = 100
SkillChance.Yellow = 75
SkillChance.Green  = 25
SkillChance.Grey   = 0
SkillChance.MiningSteps   = 0
SkillChance.SkinningSteps = 0
DurabilityLoss.InPvP = 0
DurabilityLoss.OnDeath = 10
DurabilityLossChance.Damage = 0.5
DurabilityLossChance.Absorb = 0.5
DurabilityLossChance.Parry  = 0.05
DurabilityLossChance.Block  = 0.05
Death.SicknessLevel = 11
Death.CorpseReclaimDelay.PvP = 1
Death.CorpseReclaimDelay.PvE = 0
Death.Bones.World = 1
Death.Bones.BattlegroundOrArena = 1
Die.Command.Mode = 0


AutoBroadcast.On = 1
AutoBroadcast.Center = 2
AutoBroadcast.Timer = 1800000


Battleground.CastDeserter = 1
Battleground.QueueAnnouncer.Enable = 1
Battleground.QueueAnnouncer.PlayerOnly = 0
Battleground.InvitationType = 0
BattleGround.PrematureFinishTimer = 300000
BattleGround.PremadeGroupWaitForMatch = 1800000
Battleground.GiveXPForKills = 1
Battleground.Random.ResetHour = 1


Arena.MaxRatingDifference = 150
Arena.RatingDiscardTimer = 600000
Arena.AutoDistributePoints = 0
Arena.AutoDistributeInterval = 7
Arena.QueueAnnouncer.Enable = 0
Arena.QueueAnnouncer.PlayerOnly = 0
Arena.ArenaSeason.ID = 1
Arena.ArenaSeason.InProgress = 1
Arena.ArenaStartRating = 0
Arena.ArenaStartPersonalRating = 0
Arena.ArenaStartMatchmakerRating = 1500
Arena.ConquestPointsReward = 180


Network.Threads = 1
Network.OutKBuff = -1
Network.OutUBuff = 65536
Network.TcpNodelay = 1


Console.Enable = 1
Ra.Enable = 1
Ra.IP = 0.0.0.0
Ra.Port = 3443
Ra.MinLevel = 3
SOAP.Enabled = 0
SOAP.IP = 127.0.0.1
SOAP.Port = 7878


CharDelete.Method = 0
CharDelete.MinLevel = 0
CharDelete.KeepDays = 0


PlayerStart.AllReputation = 0
PlayerStart.AllSpells = 0
PlayerStart.MapsExplored = 0
MusicInBattleground = 1
HonorPointsAfterDuel = 1
AlwaysMaxWeaponSkill = 0
PvPToken.Enable = 0
PvPToken.MapAllowType = 4
PvPToken.ItemID = 29434
PvPToken.ItemCount = 1
Guild.AllowMultipleGuildMaster = 1
NoResetTalentsCost = 0
ShowKickInWorld = 1
RecordUpdateTimeDiffInterval = 60000
MinRecordUpdateTimeDiff = 100
PlayerStart.String = ""
LevelReq.Trade = 1
LevelReq.Ticket = 1
LevelReq.Auction = 1
LevelReq.Mail = 1
DungeonFinder.Enable = 1
AccountInstancesPerHour = 5
IgnoringMapsVersion = 1